

.header{
    background: url('../imgs/pexels-scott-webb-593158.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 89vh;
    width: 100vw;
    color: #fff;
}
.header-text{
    margin-top: 200px;
}
.header_form{
    border-radius: 25px;
    width: 100%;
    margin-top: 25px;
}

#outlined-basic{
    width: 400px;
}






/* Css Media Query for Mobile Screens Only */
@media screen and (max-width: 480px) {
    .header{
        width: 100vw;
        
    }
    .header-text{
        margin-top: 40px;
        margin-bottom: 25px;
        
    }
    .header_form{
        margin-top: 1px;
    }
    .service_section{
        align-items: center;
        margin: 0 auto;
    }
    #outlined-basic{
        width: 250px !important;
    }
    .head_form-input{
        width:250px !important;
        margin-left: 25px;
    }
    /* .input_b-text{
        margin-left: 25px;
    } */
    .header{
        margin-bottom: 250px;
        width: 100vw;
        height: 115vh;
    }
    .header_form{
        text-align: center;
    }    
    .fa-calendar,
    .fa-mobile,
    .fa-car,
    .fa-check-square-o i{
        float: left;
    }
    body{
        overflow-x: hidden;
        width: 100vw;
    }

}






