


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.nav_bg{
    background: transparent;

}
header{
    background-image: url('../imgs_drawable-mdpi/pexels-scott-webb-593158.jpg');
}
.input_group{
    
}
.input_file[type="file"]{
    /* display: none; */
    outline: none;
    font-size: 18px;
    background-color: darkgrey;
    border-radius: 8px;

}
::-webkit-file-upload-button{
    color: green;
    outline: none;
    border: none;
    border-radius: 4px;
    /* padding: 0px; */
    background-color: transparent;
}
.label_input{
    
}


